.product-list-container {
    margin: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.product-card>.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.card-text {
    font-size: 1rem;
    color: #888;
    margin-bottom: 12px;
}

.product-card .btn {
    width: 100%;
    margin-top: auto;
    margin-top: 10px;
}

.box-icons {
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 10px;
}


.css-button-gradient--4 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);
}

.css-button-gradient--4:hover {
    background-position: right center;
}

.css-button-gradient--4:active {
    top: 2px;
}

.css-button-gradient--1 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
}

.css-button-gradient--1:hover {
    background-position: right center;
}

.css-button-gradient--1:active {
    top: 2px;
}

.css-button-gradient {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
}

.css-button-gradient:hover {
    background-position: right center;
}

.css-button-gradient:active {
    top: 2px;
}

.filter-container {
    justify-content: center;
    align-items: center;
    gap: 5px;
}

