.container-cart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-ul {
    list-style: none;
    padding: 0;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
}

.cart-item {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}