/* Navbar */
.box-navbar {
    background-color: #343a40;
    border: none;
}

.navbar-icon {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px;
}

.burger-button {
    border: 1px solid #2196F3;
}

.cart-icon {
    display: flex;
    align-items: center;
}

.cart-total {
    margin-left: 5px;
}
