.box-signup {
    width: 30rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
}

.box-signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-signup label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.box-signup input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.box-signup button {
    width: 100%;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);
}

.box-signup button:hover {
    background-position: right center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.box-signup button:active {
    top: 2px;
}

.box-signup .error-message {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #dc3545;
}